* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav ul li {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 120px;
}

.btn {
    border: 2px solid #DE2E54;
    background-color: white;
    padding: 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: 2px;
    border-radius: 10px;
    color: #DE2E54;
}

.hero {
    height: 600px;
    background-image: url(./image\ 4\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

h1 {
    width: 700px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    color: white;
    margin-bottom: 40px;
}

.btn:hover {
    background-color: #DE2E54;
    color: white;
    transition: 1.5s;
}

nav ul li:hover {
    background-color: white;
    color: #DE2E54;
    transition: 1.5s;
}

.ota{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
}
h2{
font-size: 36px;
font-weight: 700;
line-height: 43.2px;
text-align: center;
}
.ota{
    display: flex;
    align-items: center;
    gap: 80px;
}
.d1{
    width: 1449px;
    height: 677px;
    background: #0EB4C1;
    display: flex;
}
.btn2{
    padding: 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: 2px;
    border-radius: 10px;
    background-color:#38CC8B;
    width: 460px;
    border-radius: 10px;
    box-shadow: 0px -4px 0px 0px #00000017 inset;
}
footer{
    width: 1450px;
    height: 100px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}